.burger-text {
  height: 80vh;
  nav {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero, .burger-menu {
    height: calc(80vh - 120px);
    padding: 0 2rem;
    @include breakpoint(mobile up) {
      padding: 0 5rem;
    }
    @include breakpoint(large up) {
      padding: 0 10rem;
    }
  }
  .hero {
    color: $text;
  }
  .burger-menu {
    .fa-gem {
      color: $white;
    }
    a {
      color: $white;
      transition: all linear $base-transition;
      &:hover {
        opacity: .7;
        transition: all linear $base-transition;
      }
    }
  }
  p {
    color: $light-gray;
  }
}

.burger-text.is-opened {
  height: 100vh;
  background-color: $primary-color;
  .hire {
    color: $white;
    border: 1px solid $white;
    &:hover {
      background-color: $white;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}