<footer>
    <div>
        <ul class="menu">
            <li><a class="font-bold" href="#">Zurb</a></li>
            <li><a href="#" class="show-for-large">Showcase</a></li>
            <li><a href="#" class="show-for-large">Develop</a></li>
            <li><a href="#" class="show-for-large">Tutorials</a></li>
            <li><a href="#" class="show-for-large">Get Involved</a></li>
            <li><a href="#">Docs</a></li>
        </ul>
    </div>
    <div>
        <ul class="menu">
            <li><a href="#"><i class="fas fa-envelope fa-2x"></i></i></a></li>
            <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube fa-2x"></i></a></li>
        </ul>
    </div>
</footer>