<header class="burger-text">
    <div class="grid-container">
        <nav data-aos="fade-up">
            <button class="nav-button burger" type="button" role="button" aria-label="open/close navigation"><i></i>
            </button>
            <a class="margin-bottom-0 button hollow radius font-bold hire" href="#">Hire us</a>
        </nav>

        <div class="hero grid-y align-center" data-aos="fade-up">
            <div class="cell text-center">
                <i class="fas fa-gem fa-3x"></i>
                <h1 class="margin-vertical-2">We are a creative team based in Designland. We provide clean and modern
                    designs.</h1>
                <a class="button" href="#">Have a look at our projects</a>
            </div>
        </div>

        <div class="burger-menu grid-y align-center is-hidden">

            <i class="fas fa-gem fa-3x cell text-center margin-bottom-3"></i>

            <ul class="cell menu grid-x align-center margin-bottom-3">
                <li><a class="h1" href="#">Work</a></li>
                <li><a class="h1" href="#">Team</a></li>
                <li><a class="h1" href="#">Blog</a></li>
                <li><a class="h1" href="#">Contact</a></li>
            </ul>

            <ul class="cell menu grid-x align-center margin-bottom-3">
                <li><a class="font-bold" href="#">Twitter</a></li>
                <li><a class="font-bold" href="#">Instagram</a></li>
                <li><a class="font-bold" href="#">Facebook</a></li>
            </ul>

            <div class="cell text-center">
                <p>Bastoche & Co - Saint-Martin-de-Crau • Provence • 06 23 68 91 29 • sebasien.pereda@gmail.com</p>
            </div>
        </div>
    </div>
</header>