<div class="portfolio-1 orbit" role="region" aria-label="Projects" data-orbit>

    <div class="orbit-wrapper">
        <div class="orbit-controls">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container portfolio-1__items">
            <li class="is-active portfolio-1__item orbit-slide">
                <div class="orbit-figure">
                    <div class="portfolio-1__item__image"></div>
                </div>
                <div class="container">
                    <div class="portfolio-1__item__content">
                        <h2 class="portfolio-1__item__tag tag-1">Latest projects</h2>
                        <h3 class="h1 portfolio-1__item__title">Basement Pizza Pie Interior</h3>
                        <p class="portfolio-1__item__subheading subheading">Framer does a lot more than transitions or
                            quick animations. Design using real data.</p><a
                            class="portfolio-1__item__button button success" href="#">View full project</a>
                    </div>
                </div>
            </li>
            <li class="portfolio-1__item orbit-slide">
                <div class="orbit-figure">
                    <div class="portfolio-1__item__image" style="background-image: url(assets/img/slide-2.jpg);"></div>
                </div>
                <div class="container">
                    <div class="portfolio-1__item__content">
                        <h2 class="portfolio-1__item__tag tag-1">Latest projects</h2>
                        <h3 class="h1 portfolio-1__item__title">MetLIfe Global Technology Campus</h3>
                        <p class="portfolio-1__item__subheading subheading">We believe that the next million virtual
                            reality experiences will be on smartphones.</p><a
                            class="portfolio-1__item__button button success" href="#">View full project</a>
                    </div>
                </div>
            </li>
            <li class="portfolio-1__item orbit-slide">
                <div class="orbit-figure">
                    <div class="portfolio-1__item__image" style="background-image: url(assets/img/slide-3.jpg);"></div>
                </div>
                <div class="container">
                    <div class="portfolio-1__item__content">
                        <h2 class="portfolio-1__item__tag tag-1">Latest projects</h2>
                        <h3 class="h1 portfolio-1__item__title">La Maison de la Radio</h3>
                        <p class="portfolio-1__item__subheading subheading">Design using real data. Framer does a lot
                            more than transitions or quick animations.</p><a
                            class="portfolio-1__item__button button success" href="#">View full project</a>
                    </div>
                </div>
            </li>
            <li class="portfolio-1__item orbit-slide">
                <div class="orbit-figure">
                    <div class="portfolio-1__item__image" style="background-image: url(assets/img/slide-4.jpg);"></div>
                </div>
                <div class="container">
                    <div class="portfolio-1__item__content">
                        <h2 class="portfolio-1__item__tag tag-1">Latest projects</h2>
                        <h3 class="h1 portfolio-1__item__title">Basement Pizza Pie Interior</h3>
                        <p class="portfolio-1__item__subheading subheading">Framer does a lot more than transitions or
                            quick animations. Design using real data.</p><a
                            class="portfolio-1__item__button button success" href="#">View full project</a>
                    </div>
                </div>
            </li>
            <li class="portfolio-1__item orbit-slide">
                <div class="orbit-figure">
                    <div class="portfolio-1__item__image" style="background-image: url(assets/img/slide-5.jpg);"></div>
                </div>
                <div class="container">
                    <div class="portfolio-1__item__content">
                        <h2 class="portfolio-1__item__tag tag-1">Latest projects</h2>
                        <h3 class="h1 portfolio-1__item__title">MetLIfe Global Technology Campus</h3>
                        <p class="portfolio-1__item__subheading subheading">We believe that the next million virtual
                            reality experiences will be on smartphones.</p><a
                            class="portfolio-1__item__button button success" href="#">View full project</a>
                    </div>
                </div>
            </li>
            <li class="portfolio-1__item orbit-slide">
                <div class="orbit-figure">
                    <div class="portfolio-1__item__image" style="background-image: url(assets/img/slide-6.jpg);"></div>
                </div>
                <div class="container">
                    <div class="portfolio-1__item__content">
                        <h2 class="portfolio-1__item__tag tag-1">Latest projects</h2>
                        <h3 class="h1 portfolio-1__item__title">La Maison de la Radio</h3>
                        <p class="portfolio-1__item__subheading subheading">Design using real data. Framer does a lot
                            more than transitions or quick animations.</p><a
                            class="portfolio-1__item__button button success" href="#">View full project</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <nav class="orbit-bullets margin-bottom-0">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        <button data-slide="4"><span class="show-for-sr">Fifth slide details.</span></button>
        <button data-slide="5"><span class="show-for-sr">Sixth slide details.</span></button>
    </nav>
</div>