<section class="portfolio-2">
    <div class="grid-container">
        <div class="grid-x grid-margin-x small-up-1 medium-up-2">
            <article class="cell">
                <a class="portfolio-2__item" href="#" title="Association of American Medical Colleges" data-aos="fade-up">
                    <header class="portfolio-2__item__image">
                        <img src="assets/img/projects1.jpg" srcset="assets/img/projects1.jpg 1x, assets/img/projects1-2x.png 2x" alt="Association of American Medical Colleges"/>
                    </header>
                    <section class="portfolio-2__item__content">
                        <span class="portfolio-2__item__tag tag-2">EXTERIOR DESIGN</span>
                        <span class="portfolio-2__item__title h2">Association of American Medical Colleges</span>
                        <span class="portfolio-2__item__address">
                            <i class="fas fa-map-marker"></i> Washington, United States
                        </span>
                    </section>
                </a>
            </article>
            <article class="cell">
                <a class="portfolio-2__item" href="#" title="MetLIfe Global Technology Campus" data-aos="fade-up">
                    <header class="portfolio-2__item__image">
                        <img src="assets/img/projects2.jpg" srcset="assets/img/projects2.jpg 1x, assets/img/projects2-2x.png 2x" alt="MetLIfe Global Technology Campus"/>
                    </header>
                    <section class="portfolio-2__item__content">
                        <p class="portfolio-2__item__tag tag-2">INTERIOR DESIGN</p>
                        <h2 class="portfolio-2__item__title">MetLIfe Global Technology Campus</h2>
                        <p class="portfolio-2__item__address">
                            <i class="fas fa-map-marker"></i> Cary, United States
                        </p>
                    </section>
                </a>
            </article>
            <article class="cell">
                <a class="portfolio-2__item" href="#" title="La Maison de la Radio Grand Auditorium" data-aos="fade-up">
                    <header class="portfolio-2__item__image">
                        <img src="assets/img/projects3.jpg" srcset="assets/img/projects3.jpg 1x, assets/img/projects3-2x.png 2x" alt="La Maison de la Radio Grand Auditorium"/>
                    </header>
                    <section class="portfolio-2__item__content">
                        <p class="portfolio-2__item__tag tag-2">FURNITURE</p>
                        <h2 class="portfolio-2__item__title">La Maison de la Radio Grand Auditorium</h2>
                        <p class="portfolio-2__item__address">
                            <i class="fas fa-map-marker"></i> Paris, France
                        </p>
                    </section>
                </a>
            </article>
            <article class="cell">
                <a class="portfolio-2__item" href="#" title="Kingman Island Environmental Education Center" data-aos="fade-up">
                    <header class="portfolio-2__item__image">
                        <img src="assets/img/projects4.jpg" alt="Kingman Island Environmental Education Center"/>
                    </header>
                    <section class="portfolio-2__item__content">
                        <p class="portfolio-2__item__tag tag-2">ARCHITECTURE ICONS</p>
                        <h2 class="portfolio-2__item__title">Kingman Island Environmental Education Center</h2>
                        <p class="portfolio-2__item__address">
                            <i class="fas fa-map-marker"></i> Paris, France
                        </p>
                    </section>
                </a>
            </article>
        </div>
        <div class="button-wrap">
            <a class="portfolio-2__button button success large" href="#">
                <i class="fas fa-th-large"></i> More projects
            </a>
        </div>
    </div>
</section>