<section class="team-1">
    <div class="grid-container">

        <header class="text-center margin-bottom-2" data-aos="fade-up">
            <h2 class="h1">The Team</h2>
            <p class="subheading">Yes, we’re looking like a super hot models, but, I
                swear, we are cool architecture bureau.</p>
        </header>

        <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">

            <section class="cell text-center" data-aos="fade-up">
                <header class="team-1__image">
                    <img src="assets/img/team1.jpg" alt=""/>
                </header>
                <h3 class="margin-top-1 margin-bottom-0">Alexey Rybin</h3>
                <p>Creative Direction</p>
                <p>Passionately focused on content creation and strategy with many years.</p>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </section>

            <section class="cell text-center" data-aos="fade-up">
                <header class="team-1__image">
                    <img src="assets/img/team2.jpg" alt=""/>
                </header>
                <h3 class="margin-top-1 margin-bottom-0">Yuliya Petrova</h3>
                <p>Concept & Service Design</p>
                <p>Long name, short hair. Experienced concept developer and service designer always looking for the best.</p>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </section>

            <section class="cell text-center" data-aos="fade-up">
                <header class="team-1__image">
                    <img src="assets/img/team3.jpg" alt=""/>
                </header>
                <h3 class="margin-top-1 margin-bottom-0">Yuri Yasyuk</h3>
                <p>User Experience Design</p>
                <p>Passionately focused on content creation and strategy with many years.</p>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </section>

            <section class="cell text-center" data-aos="fade-up">
                <header class="team-1__image">
                    <img src="assets/img/team4.jpg" alt=""/>
                </header>
                <h3 class="margin-top-1 margin-bottom-0">Artem Tarasov</h3>
                <p>Creative Direction & Design</p>
                <p>Passionately focused on content creation and strategy with many years of experience building web.</p>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </section>

            <section class="cell text-center" data-aos="fade-up">
                <header class="team-1__image">
                    <img src="assets/img/team5.jpg" alt=""/>
                </header>
                <h3 class="margin-top-1 margin-bottom-0">Nikita Markov</h3>
                <p>Direction & Production</p>
                <p>Long name, short hair. Experienced concept developer and service.</p>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </section>

            <section class="cell text-center" data-aos="fade-up">
                <header class="team-1__image">
                    <img src="assets/img/team6.jpg" alt=""/>
                </header>
                <h3 class="margin-top-1 margin-bottom-0">Oleg De Saint Alexandrov</h3>
                <p>UI Design, Illustration</p>
                <p>We're building a better way for teams to share ideas and design products.</p>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </section>

        </div>
    </div>
</section>