<div class="grid-container margin-bottom-3">
    <div class="grid-x grid-margin-x large-up-2 xlarge-up-3">

        <div class="callout cell padding-2 border-none" data-aos="fade-up">
            <div class="card-header">
                <div class="card-title">
                    <img src="https://source.unsplash.com/50x50/?random" class="rounded">
                    <div class="card-name">
                        <h3 class="h4 margin-bottom-0">Oleg Alexandrov</h3>
                        <p>Designer</p>
                    </div>
                </div>
                <i class="fab fa-twitter fa-2x"></i>
            </div>
            <p>Sign up and quickly get up and running with examples, tutorials, documentation, and a helpful community</p>
        </div>

        <div class="callout cell padding-2 border-none" data-aos="fade-up">
            <div class="card-header">
                <div class="card-title">
                    <img src="https://placeimg.com/50/50/any" class="rounded">
                    <div class="card-name">
                        <h3 class="h4 margin-bottom-0">Oleg Alexandrov</h3>
                        <p>Designer</p>
                    </div>
                </div>
                <i class="fab fa-twitter fa-2x"></i>
            </div>
            <p>Sign up and quickly get up and running with examples, tutorials, documentation, and a helpful community</p>
        </div>

        <div class="callout cell padding-2 border-none" data-aos="fade-up">
            <div class="card-header">
                <div class="card-title">
                    <img src="https://source.unsplash.com/50x50/?random" class="rounded">
                    <div class="card-name">
                        <h3 class="h4 margin-bottom-0">Oleg Alexandrov</h3>
                        <p>Designer</p>
                    </div>
                </div>
                <i class="fab fa-twitter fa-2x"></i>
            </div>
            <p>Sign up and quickly get up and running with examples, tutorials, documentation, and a helpful community</p>
        </div>

        <div class="callout cell padding-2 border-none" data-aos="fade-up">
            <div class="card-header">
                <div class="card-title">
                    <img src="https://placeimg.com/50/50/any" class="rounded">
                    <div class="card-name">
                        <h3 class="h4 margin-bottom-0">Oleg Alexandrov</h3>
                        <p>Designer</p>
                    </div>
                </div>
                <i class="fab fa-twitter fa-2x"></i>
            </div>
            <p>Sign up and quickly get up and running with examples, tutorials, documentation, and a helpful community</p>
        </div>

        <div class="callout cell padding-2 border-none" data-aos="fade-up">
            <div class="card-header">
                <div class="card-title">
                    <img src="https://source.unsplash.com/50x50/?random" class="rounded">
                    <div class="card-name">
                        <h3 class="h4 margin-bottom-0">Oleg Alexandrov</h3>
                        <p>Designer</p>
                    </div>
                </div>
                <i class="fab fa-twitter fa-2x"></i>
            </div>
            <p>Sign up and quickly get up and running with examples, tutorials, documentation, and a helpful community</p>
        </div>

        <div class="callout cell padding-2 border-none" data-aos="fade-up">
            <div class="card-header">
                <div class="card-title">
                    <img src="https://placeimg.com/50/50/any" class="rounded">
                    <div class="card-name">
                        <h3 class="h4 margin-bottom-0">Oleg Alexandrov</h3>
                        <p>Designer</p>
                    </div>
                </div>
                <i class="fab fa-twitter fa-2x"></i>
            </div>
            <p>Sign up and quickly get up and running with examples, tutorials, documentation, and a helpful community.</p>
        </div>

    </div>
</div>