<div class="grid-x grid-margin-x align-middle">
    <div class="cell medium-6 padding-right-2" data-aos="fade-right">
        <h2 class="h1">What Is Foundation?</h2>
        <p class="subheading">A Framework for any device, medium, and accessibility. Foundation is a family of responsive front-end frameworks that make it easy to design beautiful responsive websites, apps and emails that look amazing on any device.</p>
    </div>
    <div class="cell medium-6">
        <div class="responsive-embed">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JC6xMe_2EFE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
